{% extends 'layout.html' %}
{% block content %}
  <!-- start about -->
  <section class="about" id="about">
    <div class="centerPage">
      <div class="container">
        <div class="container text-center">
          <div class="logo d-flex justify-content-center">
            <img src="../static/image/design/logo.jpg" alt="شعار تطبيق الكشف الصيدلاني" />
          </div>
          <p>تطبيق الكشف عن الادويه المهربة هو تطبيق محمول مصمم للمساعدة في كشف الأدوية المهربة. يهدف التطبيق إلى توفير مصدر موثوق للمعلومات حول الأدوية المشبوهة التي قد تكون مهربة وتشكل خطرًا على الصحة العامة.</p>

          <p>يستخدم التطبيق تقنيات تكنولوجيا المعلومات والاتصالات والذكاء الاصطناعي لتحليل وتحديد صحة الأدوية. يمكن للمستخدمين استخدام التطبيق لفحص رمز الاستجابة السريعة (QR code) على العبوة الدوائية والتحقق مما إذا كانت الأدوية أصلية أم مهربة.</p>

          <p>باستخدام بيانات قاعدة البيانات المحدثة بشكل منتظم، يقوم التطبيق بالتحقق من صحة رمز الاستجابة السريعة ويعرض معلومات إضافية حول الدواء مثل اسم الشركة المصنعة والتركيبة الكيميائية والتحذيرات والتأثيرات الجانبية المحتملة.</p>

          <p>يعتبر هذا التطبيق أداة هامة للمستخدمين الذين يهتمون بالحفاظ على صحتهم ويرغبون في تجنب استخدام الأدوية المهربة التي قد تكون غير آمنة أو غير فعالة. يساعد التطبيق في حماية المستهلكين والمساهمة في مكافحة تجارة الأدوية المهربة والتزييف الصيدلاني.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- end about -->
{% endblock %}
