{% extends 'layout.html' %}
{% block content %}

  <div class="centerPage">
    <div class="container mt-5">
      <div class="card p-4">
        <h1>اضافة صنف</h1>
        <form action="/add-Category" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="name">الاسم</label>
            <input type="text" class="form-control" id="name" name="name" required />
          </div>
          <button type="submit" class="btn btn-success">اضافة</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
